{% extends "base.html" %}

{% block app_content %}
    <h1>About String Theory</h1>
    <p>We are String Theory, WashU's own knitting and crocheting club! We meet every Sunday from 2-4PM in Olin Study Room 208. 
        Please log in to access our calendar of events!</p>

    <p>There are several free knitting and crochet patterns available in the 'Patterns' tab! Feel free to visit the page and 
        find something you'd like to make, or upload some patterns yourself!</p>

    <p>Last but not least, if you need help with a knitting/crochet topic, consult the Tutorials tab! We have instructional pages
        for many knitting and crocheting techniques, from beginner to advanced.
    </p>

    <p>If you'd like to join our mailing list or have any questions or comments about String Theory, don't hesitate to reach out
        to us at <a href="mailto:stringtheorywashu@gmail.com">stringtheorywashu@gmail.com</a>!
    </p>
{% endblock %}