{% extends "base.html" %}

{% block app_content %}

{% if not saved %}
    <h1>Patterns</h1>
    {% if patterns|length == 0 %}
        {% if current_user.is_authenticated %}
            <p>No patterns yet! Want to <a href="{{url_for('upload')}}">upload</a> one?</p>
        {% else %}
        <p>No patterns yet! Want to <a href="{{url_for('login')}}">log in</a> and upload one?</p>
        {% endif %}
    {% endif %}
{% else %}
    <h1>Saved Patterns</h1>
    {% if patterns|length == 0 %}
        <p>Nothing to see here!</p>
    {% endif %}
{% endif %}
<br>

<div class="container"></div>
    <table><tr valign="top">
        <td>
            <!-- <div class="col"> -->
                {% for key in patterns.keys() %}
                    <div class="row">
                    {% for p in patterns[key] %}
                        <div class="col-sm-3">
                            <div class="thumbnail">
                                {% if not p.image_filename == None %}
                                    <a href="{{'/viewPattern/'~p.id}}"><img src= {{ url_for('static', filename = 'images/'~p.image_filename) }} alt={{p.image_filename}}></a>
                                {% endif %}
                                <div class="caption">
                                    <a href="{{'/viewPattern/'~p.id}}"><h4>{{p.name}}</h4></a>
                                    {% if not (p.description == "" or p.description == None) %}
                                        <small>{{p.description}}</small><br><br>
                                    {% endif %}
    
                                    {% if not p.tags|length == 0 %}
                                        <small>• {% for tag in p.tags %}{{globalMap[tag.label]}} • {% endfor %}</small><br>
                                    {% endif %}
    
                                    <form style="display: inline-block;" action="{{'/download/'~p.id}}"><button class="btn btn-default btn-sm download" type="submit" name="download" value="download"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button></form>
                                    {% if current_user.is_authenticated %}
                                        {% if (p.user_id == current_user.id or current_user.username == 'admin') %}
                                            <form style="display: inline-block;" action="{{'/edit/'~p.id}}"><button class="btn btn-default btn-sm edit" type="submit" name="edit" value="edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></form>
                                            <form style="display: inline-block;" action="{{'/delete/'~p.id}}"><button class="btn btn-default btn-sm delete" type="submit" name="delete" value="delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></form>
                                        {% endif %}
                            
                                        <form style="display: inline-block;" action="{{'/comments/'~p.id}}"><button class="btn btn-default btn-sm comments" type="submit" name="comments" value="comments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button></form>
                                        {% if (p in current_user.saved_patterns) %}
                                        <form style="display: inline-block;" action="{{'/remove/'~p.id}}"><button class="btn btn-default btn-sm remove" type="submit" name="remove" value="remove from library"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></form>
                                        {% else %}
                                        <form style="display: inline-block;" action="{{'/add/'~p.id}}"><button class="btn btn-default btn-sm add" type="submit" name="add" value="add to library"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></form>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}                
                    </div>
                {% endfor %}
            <!-- </div> -->
        </td>

        <td>
            <h2>Filters</h2>
            {% if filtered %}
                <span>Filtered by: </span>
                {% for tag in tags %}
                    <span>{{tag}}</span>
                {% endfor %}
            {% endif %}
            
            {% if saved %}<form action="/filter/s" method="post">{% else %}<form action="/filter/n" method="post">{% endif %}
                {% for key in globalDict %}
                        <h5>{{globalMap[tag]}}{{ globalMap[key] }}</h5>

                        {% for tag in globalDict[key] %}
                        <!-- <small> -->
                            <input type="checkbox" id={{tag}} name={{tag}} value={{tag}} {% if tag in tags %}checked{% endif %}>
                            <label for={{tag}}>{{globalMap[tag]}}</label><br>
                        <!-- </small> -->

                        {% endfor %}
                        <br>
                {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Filter">
            </form>
        </td>
    </tr></table>
</div>

<br><br><br><br><br><br><br>

{% endblock %}